/* Global Styles */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #ED145B;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0 0 0 2em;
}

app-top-bar .logo {
  margin: 0 5em;
  width: 3%;
}

app-top-bar .logo__link{
  display: contents;
}

.produtos__seccao, .unity__seccao, .agendar__seccao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.produtos__border, .agendar__form {
  width: 400px;
  padding: 15px;
  border: solid 2px rgba(0, 0, 0, 0.3);
  border-radius: 20px 5px;
}

.agendar__form {
  width: 300px;
  padding: 15px;
  border: solid 2px rgba(0, 0, 0, 0.3);
  border-radius: 20px 5px;
}

.unity__border{
  width: 600px;
  padding: 15px;
  border: solid 2px rgba(0, 0, 0, 0.3);
  border-radius: 20px 5px;
}

.unity__seccao{
  margin: 2em;
}

.produtos__seccao h3, .produtos__seccao h2,.unity__seccao h3, .unity__seccao h2, .agendar__seccao h2  {
  display: flex;
  justify-content: center;
}

.agendar__seccao .agendar__apointment{
  display: flex;
  margin: 0 auto;
  background-color: #ED145B;
}

.footer__background{
  background-color: #ED145B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0 1em;
  margin: 2em 0;
}

.footer__background img{
  width: 10%;
}

.footer__background p{
  margin: 10px;
  color: white;
}